<% function formatprice(price){
   return price.toFixed(2);
}%>

<div class="page-title" style="text-align: center;">
    <% if(all){ %>
        <h1>All Listings</h1>
    <% } else { %>
        <h1>Search Results</h1>
    <% } %>
</div>
<div class="listings-container">
    <% if(results && results.length > 0){ %>
        <% for (var i = 0; i < results.length; i++){ %>
            <% var current = results[i]; %>
            <a class="listing-link" href="/listings/<%= current.uuid %>">
            <div class="listing-container">
                <div class="cover-container">
                    <img class="listing-cover" src="http://www.lucasspanish.org/wp-content/uploads/2015/03/Red-Book.jpg"/>
                </div>
                <div class="property-container">
                    <p class="listing-title" ><%= current.title %></p>
                    <p class="listing-authors">Listing Authors here</p>
                    <p class="listing-isbn"><b>ISBN: </b><%= current.isbn %></p>
                    <p class="listing-price">$<%= formatprice(current.price) %></p>
                    <p class="listing-seller"><b>Sold By: </b><%= current.creator.name %></p>
                </div>
            </div>
            </a>

        <% } %>
    <% } else { %>
        <h3>Sorry, no results. Please try different search criteria.</h3>
    <% } %>
</div>